<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Join Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

            <!-- Default form register -->
            <form class="text-center border border-light p-5" method="POST">
            	{{ erro }}
            	{% csrf_token %}
                <p class="h4 mb-4">Pass the Hash ;)</p>

                <div class="form-row mb-4">
                    <div class="col">
                        <input name="hash" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Enter the hash team">
                    </div>
                </div>

                <!-- Sign up button -->
                <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>

            </form>
            <!-- Default form register -->

</body>




</html>