<!DOCTYPE html>
<html>
<head>
	<title>Welcome to 6</title>
	<meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<a type="button" class="btn btn-primary btn-lg" href="{% url 'accounts:createteam' %}">Criar time</a>
	or
	<a type="button" class="btn btn-primary btn-lg" href="{% url 'accounts:jointeam'  %}">Join time</a>	

</body>
</html>